<div class="menu">
  <li routerLink="/main">Inicio</li>
  <input class="search_input" type="text" [(ngModel)]="ciudad" placeholder="Buscar ciudad" />
  <button class="search_button" (click)="buscarTiempo()">Buscar</button>

  <div *ngIf="authService.isAutenticado(); else loginButton" (mouseenter)="desplegable = true" (mouseleave)="desplegable = false">    <!-- Botón y acción para cerrar sesión -->
      <div class="logout">
        <i id="icon" class="fa-solid fa-user"></i>
        <p class="label">{{authService.usuario.username}}</p>
        <i id="arrow" class="fa-solid fa-caret-down"></i>
      </div>
    <div (click)="cerrarSesion()" class="options" *ngIf="desplegable">
      <i id="icon" class="fa-solid fa-power-off"></i>
      <p>Cerrar Sesion</p>
    </div>
  </div>

  <ng-template #loginButton>
    <div [routerLink]="['/login']" class="login">
        <i id="icon" class="fa-solid fa-right-to-bracket"></i>
        <p class="label">Iniciar sesión</p>
    </div>
  </ng-template>
</div>
