<div class="title-cont">
  <h1 class="title">Top world places</h1>
  <hr>
</div>

<div class  ="main_places">
  <li [routerLink]="['/place', principal.name]" [state]="{ place: principal }" style="background-image: url({{principal.image}});" class="card" *ngFor="let principal of principales">
      <div class="info-card">
        <p class="nombre-ciudad">{{principal.name}}</p>
        <div style="display: flex;flex-direction: column; align-items: center;padding: 0;">
          <i id="icon" class="{{principal.icon}}" id="icon"></i>
          <p class="temp-ciudad">{{principal.temp}}ºC</p>
        </div>
      </div>
  </li>
</div>
<div *ngIf="authService.autenticado">
  <div class="favorites-cont">
    <h1 class="title">Your Favorites</h1>
    <hr>
  </div>

    <div *ngIf="favoritos.length != 0" class ="favorite_places">
      <li [routerLink]="['/place', fav.name]" [state]="{ place: fav }" style="background-image: url({{fav.image}});" class="card" *ngFor="let fav of favoritos.slice(0,4)">
        <div class="info-card">
          <p class="nombre-ciudad">{{fav.name}}</p>
          <div style="display: flex;flex-direction: column; align-items: center;padding: 0;">
            <i id="icon" class="{{fav.icon}}" id="icon"></i>
            <p class="temp-ciudad">{{fav.temp}}ºC</p>
          </div>
        </div>
      </li>
      <div class="ver_mas" *ngIf="favoritos.length > 3" [routerLink]="['/favoritos']">
        <i id="icon" class="fas fa-chevron-right"></i>
        <p class="label">Ver mas</p>
      </div>
    </div>
    <div *ngIf="favoritos.length == 0" class ="favorite_places">
      <p style="font-size: 1.4em;">Haven't you saved any city in favorites yet? Search it with the search bar</p>
    </div>


</div>

